.section {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f8;
  width: 100%;
  text-align: center;
  min-width: 400px;
}

.header {
  display: flex;
  flex: 1;
  background-color: rgba(255, 123, 0, 0.137);
  padding: 1rem 2rem;
  min-height: 100px;
}

.content {
  display: grid;
  grid-template: 2fr / 1fr;
  padding: 0 2rem;
}

.left {
  display: flex;
  flex: 1;
  border-right: 1px solid #e5e5e5;
  padding: 1rem 2rem;
  min-width: 300px;
  margin: 0;
}

.right {
  display: flex;
  flex: 2;
  padding: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  height: 50%;
}

.box {
  width: 6rem;
  height: 6rem;
  background-color: rgb(0, 238, 255);
}
