form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  color: blue;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

button {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: aqua;
  color: black;
}

fieldset {
  display: flex;
  border: none;
  justify-content: space-between;
  width: 700px;
  padding: 0;
}

.formCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  background-color: #00b8d4;
  border: none;
}

input[type="file"]::before {
  content: "Select file";
  display: inline-block;
  background-color: #00b8d4;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

input[type="file"] {
  opacity: 0;
}
